server {
    listen       80;
    server_name  localhost;
    location / {
        add_header 'Cache-Control' 'no-cache, must-revalidate, proxy-revalidate, max-age=0';
        expires off;
        root   /usr/share/nginx/html;
        index  index.html index.htm;
        try_files $uri $uri/ /index.html;
    }
}
